
/* Headings*/
body {
    font-family: 'Trirong','Quando', 'serif';
}

h1 {
    font-size: 400%;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 175%;
    text-align: center;

}

h4 {
    font-size: 125%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#current-word {
    letter-spacing: 10px;
    
}

.row {
    padding-top: 30px;
}
.col-md-4 {
    text-align: center;
}

/*image of mia */

img {
    margin-top: 20px;
    margin-left: 65px;
}

.score-box {
    background: rgba(240, 166, 247, 0.817);
    max-height: 150px;
}
.score-word {
    padding-top: 10px;
}

#newGame {
    background: rgba(240, 166, 247, 0.817);
    font-family: 'Trirong','Quando', 'serif';
    width: 100px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 90%;
    padding: 10px; 
    

}





